
body {
	font-family: Monospace;
	background-color: #808080;
	color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: fixed;
}

div#redwing {
	position: fixed;
	width: 100%;
}

canvas {
    display: table;
    margin: 0 auto;
}
