
body {
	font-family: Monospace;
	background-color: #808080;
	color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: fixed;
}

div#redwing {
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
}

div#idk {
	position: fixed;
	width: 100%;
}

canvas {
    margin-left: -50%;
}
